*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

:root {
    /* hiding these due to no longer in use */
    /* --blue:#003399;
    --green:#009900;
    --red:#990000; */
    --gray:#e6e6e6;
    --lightblue:#b3ecff;

}
body {
    background-color: var(--lightblue);
    color: black;
}

h1 {
    display: flex;
    justify-content:space-around;
    font-size: 50px;
    background-color: var(--gray);
}
.clickable-header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 15px;
    /* changed from xxl to xl for visual appearances */
    font-size: x-large;
    background-color: var(--gray);
}

article {
    padding: 5px 5px;
}

.image {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    /* added padding to help seperate articals */
}

a {
    padding: 10px 5px;
}

h2 {
    padding: 5px 5px;
}

p {
    font-size: large;
    padding: 25px 5px;
}

nav a {
    display: flex;
    flex-direction: column;
    /* using align-items to bring these pictures down the page */
    align-items: center;
    /* using justify-content to center the photos */
    justify-content: center;
    padding: 10px 50px;
}

.contact-me {
    padding: 25px 5px;
    font-size: large;
}

footer {
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
}

@media all and (max-width:1000px) {
   .image {
flex-direction: column;
background-color: var(--green);
    }
    
}
/* @media screen and (max-width:768px) {
  nav a {
        flex-direction: column;
        background-color: var(--blue);
    }
    
} */